<!-- el header contendrá un titulo y una imagen repetida en ambos costados -->
<header>
    <div class="container" id="contenedor-header">
      <div class="row">
        <div class="col-4">
          <!-- Agregamos la imagen según la direccion de la imagen recibida  -->
          <img src="{{direccionImagen}}" class="imagenIzquierda" alt="">
        </div>
        <div class="col-4">
          <!-- Como titulo del header tendremos el recibido -->
          <h1 > {{tituloHeader}}</h1>
        </div>
        <div class="col-4">
          <!-- Agregamos la imagen según la direccion de la imagen recibida  -->
          <img src="{{direccionImagen}}" class="imagenDerecha" alt="">
        </div>
      </div>
    </div>
  </header>