body{
    padding-top: 40px;
}

.vacio{
    background-color: rgb(255, 255, 255);
    width: 78px;
    height: 78px;
    border: 2px solid black;
    margin: 5px;
    border-radius: 50%;
}
.rojo{
    background-color: rgb(255, 0, 0);
    width: 78px;
    height: 78px;
    border: 2px solid black;
    margin: 5px;
    border-radius: 50%;
}
.azul{
    background-color: blue;
    width: 78px;
    height: 78px;
    border: 2px solid black;
    margin: 5px;
    border-radius: 50%;
}
.btn-primary{
    width: 60px;
    margin-left: 10px;
}
tbody{
    background-color: rgb(137, 137, 137);
}

.rojo-gana{
    background-color: rgb(255, 0, 0);
    width: 70px;
    height: 70px;
    border: 5px solid yellow;
    border-radius: 50%;
}