<!DOCTYPE html>
<html lang="es">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Conecta 4</title>
</head>

<html>
<!-- BODY -->
<body class="container">

  <app-header-simple [titulo]="'Juego Conecta 4'" [imagen]="'assets/logo.png'"></app-header-simple>

  <div class="row">

    <!-- PARTE IZQUIERDA -->
    <div class="col-6">
      <!-- RECUADRO CON BOTONES Y JUGADORES -->
      <div class="contenedor-botones">
        <!-- BOTONES -->
        <div class="container">
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-secondary" id="botonIzquierdo" (click)="nuevoJuego();" >Nuevo
                Juego</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-secondary" id="botonDerecho"
                (click)="comenzarJuego()">Comenzar</button>
            </div>
          </div>
        </div>
        <!-- JUGADOR 1 -->
        <div class="col">
          <h4>Jugador/a 1: </h4>
          <div class="row">
            <div class="col-4">
              <input id="nJugador1" type="text" class="input">
            </div>
            <div class="col-1">
              <div id="fichaRoja"></div>
            </div>
          </div>
        </div>
        <!-- JUGADOR 2 -->
        <div class="col">
          <h4>Jugador/a 2: </h4>
          <div class="row">
            <div class="col-4">
              <input id="nJugador2" type="text" class="input">
            </div>
            <div class="col-1">
              <div id="fichaAzul"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- FIN RECUADRO CON BOTONES Y JUGADORES -->

      <!-- MENSAJE Y RECUADRO PARA MENSAJES -->
      <h2>Mensajes:</h2>
      <app-mensaje [mensaje]="mensaje" [colorTexto]="colorGanador"></app-mensaje>
      <!-- FIN MENSAJE Y RECUADRO PARA MENSAJES -->
    </div>
    <!-- FIN PARTE IZQUIERDA -->

    <!-- PARTE DERECHA -->
    <div class="col-6">
      <table>
        <thead>
          <tr>
            <th><button type="button" class="btn btn-primary" (click)="jugarFicha(0);">1</button></th>
            <th><button type="button" class="btn btn-primary" (click)="jugarFicha(1);">2</button></th>
            <th><button type="button" class="btn btn-primary" (click)="jugarFicha(2);">3</button></th>
            <th><button type="button" class="btn btn-primary" (click)="jugarFicha(3);">4</button></th>
            <th><button type="button" class="btn btn-primary" (click)="jugarFicha(4);">5</button></th>
            <th><button type="button" class="btn btn-primary" (click)="jugarFicha(5);">6</button></th>
            <th><button type="button" class="btn btn-primary" (click)="jugarFicha(6);">7</button></th>
          </tr>
        </thead>
        <!-- TABLERO -->
        <tbody>
          <tr *ngFor="let f of filas">
            <td *ngFor="let c of columnas">
              <app-ficha [color]="tablero[f][c]"></app-ficha>
            </td>
          </tr>
        </tbody>
        <!-- FIN TABLEROS -->
      </table>
    </div>
  </div>

  <!-- FIN BODY -->

  <!-- FOOTER -->
  <footer class="alert alert-dark">
    <h3>Estudiantes: Ignacio Baeza / Ismael Miranda - Desarrollo Frontend con Angular (2022)</h3>
  </footer>
  <!-- FIN FOOTER -->
</body>

</html>
