header{
    padding-top: 40px;
}
tbody{
    background-color: rgb(137, 137, 137);
    border: 1px solid black;
}

.vacio{
    background-color: rgb(255, 255, 255);
    width: 78px;
    height: 78px;
    border: 2px solid black;
    margin: 5px;
    border-radius: 50%;
}
.rojo{
    background-color: rgb(255, 0, 0);
    width: 78px;
    height: 78px;
    border: 2px solid black;
    margin: 5px;
    border-radius: 50%;
}
.azul{
    background-color: blue;
    width: 78px;
    height: 78px;
    border: 2px solid black;
    margin: 5px;
    border-radius: 50%;
}
.btn-primary{
    width: 60px;
    margin-left: 10px;
}


.rojo-gana{
    background-color: rgb(255, 0, 0);
    width: 78px;
    height: 78px;
    margin: 5px;
    border: 5px solid yellow;
    border-radius: 50%;
}

.azul-gana{
    background-color: blue;
    width: 78px;
    height: 78px;
    margin: 5px;
    border: 5px solid yellow;
    border-radius: 50%;
}

#contenedor-header{
    border: 1px solid black; margin-bottom: 30px;
}
.contenedor-botones{
    border: 1px solid black; padding: 25px;
}
#contenedor-mensaje{
    padding: 50px; border: 1px solid black;
}
#botonIzquierdo{
    float: right; background-color: #0d6efd;
}
#botonDerecho{
    float: left; background-color: #0d6efd;
}

.input{
    width: 160px;
}
#fichaRoja{
    width: 30px; height: 30px; margin: 0px;
    background-color: rgb(255, 0, 0);
    border: 2px solid black;
    border-radius: 50%;
}
#fichaAzul{
    width: 30px; height: 30px; margin: 0px;
    background-color: blue;
    border: 2px solid black;
    border-radius: 50%;
}
h2{
    margin-top: 135px
}

h3{
    text-align:center;
}
img{
    width: 100px; 
    padding-top: 10px; 
    padding-bottom: 10px;
}
.imagenIzquierda{
    float: left;
}
.imagenDerecha{
    float: right;
}
footer{
    margin-top: 30px;
}
table{
    margin-left: 60px;
}
p{
    font-size: 20px;
}

.projo{
    font-size: 20px;
    color:red;
}
.pazul{
    font-size: 20px;
    color: blue;
}
