<!DOCTYPE html>
<html lang="es">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Conecta 4</title>
</head>
<body>
  <header>
      <nav id=nav class="navbar navbar-expand bg-secondary ">
        <a class="navbar-brand" href="#">
          <img class= "m-2 ml-5" width="100" alt=" 4 en Linea" src="../assets/logo conecta 4.png">
        </a>
        <div>
          <h1 id="titulo">{{title}}</h1>
        </div>
      </nav>
  </header>


</body>
</html>